* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.gallery {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.image-link {
  display: flex;
}

.image {
  width: 100%;
  /* height: 250px; */
  max-height: 400px;
}

@media screen and (max-width: 560px) {
  .image {
    /* height: 300px; */
    margin: 0px auto;
  }
}

/* HEADER */
.header {
  margin: 0px 20px;
  padding: 10px 0px;
}
.no-image {
  text-align: center;
}
.no-image h4 {
  font-size: 40px;
  color: #c5c5c5;
}

.filters {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

input,
select,
button {
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 10px;
  box-shadow: 0px 0px 8px rgb(138, 138, 138);
}
.title {
  color: #000;
  margin: 20px 0px;
}

.search-form {
  display: flex;
}

.search-form input {
  flex: 1;
  min-width: 300px;
  font-size: 14px;
}

.filter-form .apply-btn {
  min-width: 100px;
  cursor: pointer;
  background-color: #12c99b;
  color: #fff;
}

.filter-form .clear-btn {
  cursor: pointer;
  background-color: #c94612;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .filters {
    flex-direction: column;
    gap: 20px;
  }

  .search-form input {
    min-width: auto;
  }
}

@media screen and (max-width: 500px) {
  .filter-form button {
    margin-top: 10px;
  }
}

/* DETAILS */
.details {
  margin: 20px;
}

.go-back{
  font-size: 20px;
  color: rgba(0, 0, 0, .7);
}

.details-image {
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
}

.details-image img {
  width: 100%;
  height: 100%;
  object-position: center;
}
.tags-container ,
.description,
.location
{
  margin: 20px 0px 10px;
}

.tags-container h4, 
.description h4,
.location h4
{
  font-size: 24px;
  margin-bottom: 10px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags .tag {
  background-color: #929292;
  padding: 5px 10px;
  border-radius: 5px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.stat {
  box-shadow: 0px 0px 12px rgb(77, 77, 77);
  padding: 10px 20px;
  flex: 1;
  border-radius: 10px;
}

.stat h3 {
  margin-bottom: 10px;
}

.stat .stat-value {
  color: #c94612;
  font-weight: bold;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .stats{
    flex-direction: column;
  }
}